<div class="container">
	<h1><?= $title; ?></h1>
	<?php if(count($relations)) : ?>
		<table class="table table-hover">
			<tr>
				<th>id</th><th>destinations</th><th>complete</th><th>osmc:symbol</th><th>kct_</th><th>network</th><th>route</th>
			</tr>
		<?php foreach($relations as $relation) : ?>
			<tr>
				<td><?= $relation['id']; ?></td>
				<?= (isset($relation['tags']['destinations'])) ? $this->printCell($relation['tags']['destinations']) : $this->printCell("&nbsp;"); ?>
				<?= (isset($relation['tags']['complete'])) ? $this->printCell($relation['tags']['complete']) : $this->printCell("&nbsp;"); ?>
				<?= (isset($relation['tags']['osmc:symbol'])) ? $this->printCell($relation['tags']['osmc:symbol']) : $this->printCell("&nbsp;"); ?>
				<?php $tmp = Osm::getKctTags($relation['tags']); ?>
				<?= (count($tmp)) ? $this->printCell(key($tmp).":".reset($tmp)) : $this->printCell("&nbsp;"); ?>
				<?= (isset($relation['tags']['network'])) ? $this->printCell($relation['tags']['network']) : $this->printCell("&nbsp;"); ?>
				<?= (isset($relation['tags']['route'])) ? $this->printCell($relation['tags']['route']) : $this->printCell("&nbsp;"); ?>
			</tr>
		<?php endforeach; ?>
		</table>
	<?php endif; ?>
</div>
