<div class="container">
<?php /*
	<p>Max node and img distance: <?= $distance; ?>m</p>

	<ul>
		<li><a href="<?= PAGE.'guideposts/fetch'; ?>">Fetch</a> DB from api.osm.cz to osm.fit.vutbr.cz</li>
		<li><a href="<?= PAGE.'guideposts/analyse'; ?>">Analyse</a> current DB on osm.fit.vutbr.cz (data from 06.04.2017 12:02)</li>
		<li><a href="<?= PAGE.'guideposts/cached/all'; ?>">Show</a> last cached analyzed table (
			<a href="<?= PAGE.'guideposts/cached/ok'; ?>">OK</a>,
			 <a href="<?= PAGE.'guideposts/cached/noref_nophoto'; ?>">noref+noimg</a>,
			 <a href="<?= PAGE.'guideposts/cached/nophoto'; ?>">noimg</a>,
			 <a href="<?= PAGE.'guideposts/cached/noref'; ?>">noref+img</a>,
			 <a href="<?= PAGE.'guideposts/cached/unused'; ?>">unused img)</a>
		</li>
		<li><a href="<?= PAGE.'data/export/guideposts.gpx'; ?>">Download GPX</a> with guideposts without correct photos</li>
		<li><a href="<?= PAGE.'data/export/guideposts.json'; ?>">Download JSON</a> with guideposts without correct photos</li>
	</ul>
*/ ?>
	
	<h1>Guidepost fetched</h1>
	
	<p>Proceesed and inserted <?= $count; ?> entries.</p>
	<p>Total execution time: 3.1158s</p>
		
</div>