<div class="container-fluid">

<?php /*
	<ul>
		<li><a href="<?= PAGE.'guideposts/fetch'; ?>">Fetch</a> DB from api.osm.cz to osm.fit.vutbr.cz</li>
		<li><a href="<?= PAGE.'guideposts/analyse'; ?>">Analyse</a> current DB on osm.fit.vutbr.cz (data from 06.04.2017 12:02)</li>
		<li><a href="<?= PAGE.'guideposts/cached/all'; ?>">Show</a> last cached analyzed table (
			<a href="<?= PAGE.'guideposts/cached/ok'; ?>">OK</a>,
			 <a href="<?= PAGE.'guideposts/cached/noref_nophoto'; ?>">noref+noimg</a>,
			 <a href="<?= PAGE.'guideposts/cached/nophoto'; ?>">noimg</a>,
			 <a href="<?= PAGE.'guideposts/cached/noref'; ?>">noref+img</a>,
			 <a href="<?= PAGE.'guideposts/cached/unused'; ?>">unused img)</a>
		</li>
		<li><a href="<?= PAGE.'data/export/guideposts.gpx'; ?>">Download GPX</a> with guideposts without correct photos</li>
		<li><a href="<?= PAGE.'data/export/guideposts.json'; ?>">Download JSON</a> with guideposts without correct photos</li>
	</ul>
*/ ?>
	<h1>Guideposts</h1>
	<p>Max node and img distance: <?= $distance; ?>m</p>
	<p><?= $description; ?></p>
	<p><?= $countEntries; ?> entries in table</p>
	<?php if(count($nodes)) : ?>
		<table class="table">
			<tr>
				<th class="col-md-1">node ID</th>
				<th class="col-md-1">node coord</th>
				<th class="col-md-1">node ref</th>
				<th class="col-md-9">images</th>
			</tr>
			<?php foreach ($nodes as $node) : ?>
				<tr class="gp-<?= $node['class']; ?>">
					<td>
						<a href="http://openstreetmap.org/node/<?= $node['id']; ?>">
							<?= $node['id']; ?>
						</a>
					</td>
					<td>
						<a href="http://openstreetmap.org/node/<?= $node['id']; ?>">
							<?= Out::getLatFromPoint($node['geom']); ?>
						</a>
					</td>		
					<td><?= $node['ref']; ?></td>
					<td>
						<?php if(count($node['data'])) : ?>
							<?php foreach ($node['data'] as $gp) : ?>
								<a href="http://api.openstreetmap.cz/table/id/<?= $gp['id']; ?>">
									<?= $gp['id']; ?>
								</a>
								(<?= $gp['dist']; ?>m, <?= $gp['ref']; ?>)
							<?php endforeach; ?>
						<?php endif; ?>
					</td>	
				</tr>
			<?php endforeach; ?>
		</table>
	<?php endif; ?>
</div>