<!DOCTYPE html>
<html lang="cs-cz">
	<head>
		<base href="<?= PAGE; ?>" />
		<meta charset="UTF-8" />
		<title><?= $title ?></title>
		<meta name="keywords" content="<?= $keywords ?>" />
		<meta name="description" content="<?= $description ?>" />
		
		<link rel="stylesheet" href="<?= PAGE; ?>css/bootstrap.min.css" type="text/css"/>
		<link rel="stylesheet" href="<?= PAGE; ?>css/pnotify.custom.min.css" type="text/css"/>
		<link rel="stylesheet" href="<?= PAGE; ?>css/lightbox.css" type="text/css"/>
		<link rel="stylesheet" href="<?= PAGE; ?>css/font-awesome.min.css" type="text/css"/>
		<link rel="stylesheet" href="<?= PAGE; ?>css/style.css" type="text/css"/>

		<script src="<?= PAGE; ?>js/jquery-1.12.0.min.js"></script>
		<script src="<?= PAGE; ?>js/bootstrap.min.js"></script>
		<!-- <script src="<?= PAGE; ?>js/lightbox.js"></script> -->
		<script src="<?= PAGE; ?>js/pnotify.custom.min.js"></script>
		<script src="<?= PAGE; ?>js/chart.js"></script>
		<script src="<?= PAGE; ?>js/main.js"></script>
	</head>
	<body>

		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					    <span class="sr-only">Toggle navigation</span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					</button>
					<a class="logo" href="<?= PAGE; ?>">
						<img src="<?= PAGE; ?>images/logo.png" class="img-responsive">
					</a>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="<?= PAGE; ?>maps/">Mapa</a></li>
						<li><a href="<?= PAGE; ?>tables/">Tabulky</a></li>
						<li><a href="<?= PAGE; ?>stats/">Statistika</a></li>
					</ul>				 
				</div>
			</div>
	    </nav>

		<div id="main">
			<?php $this->controller->printView(); ?>
		</div>

		<footer id="footer">
			<div class="container text-center text-muted">
				<p>
					<a href="https://bitbucket.org/DoNtIkE/bp">Github</a> | OSM data updated: 29.04.2017 16:02
				</p>
			</div>
		</footer>
	</body>
</html>