<div class="container">
	<h1><?= $title; ?></h1>
	<?php if(count($result)) : ?>
		<table class="table">
		<tr>
			<th>Test</th>
			<th>Počet testovaných entit</th>
			<th>Počet úspěšně vyhodnocených</th>
			<th>%</th>
		</tr>
			<?php foreach($result as $key => $row): ?>
				<tr>
					<td><?= $key; ?></td>
					<td><?= $row['count']; ?></td>
					<td><?= $row['ok']; ?></td>
					<td><?= $row['percentage']; ?></td>
				</tr>
			<?php endforeach; ?>
		</table>
	<?php endif; ?>
</div>