<div id="maps">
	<link rel="stylesheet" type="text/css" href="<?= PAGE; ?>css/leaflet/leaflet.css"/>
	<link rel="stylesheet" type="text/css" href="<?= PAGE; ?>css/leaflet/Control.OSMGeocoder.css"/>
	<link rel="stylesheet" type="text/css" href="<?= PAGE; ?>css/leaflet/leaflet-sidebar.css"/>
	<!-- <link rel="stylesheet" type="text/css" href="<?= PAGE; ?>css/leaflet/leaflet.awesome-markers.css" /> -->

	<script type="text/javascript" src="<?= PAGE; ?>js/leaflet/leaflet.js"></script>
	<script type="text/javascript" src="<?= PAGE; ?>js/leaflet/Control.OSMGeocoder.js"></script>
	<script type="text/javascript" src="<?= PAGE; ?>js/leaflet/leaflet-sidebar.js"></script>
	<script type="text/javascript" src="<?= PAGE; ?>js/maps.js"></script>
	<!-- <script type="text/javascript" src="<?= PAGE; ?>js/leaflet/leaflet-hash.js"></script> -->
	<!-- <script type="text/javascript" src="<?= PAGE; ?>js/leaflet/L.Control.LineStringSelect.js"></script> -->
	<!-- <script type="text/javascript" src="<?= PAGE; ?>js/leaflet/leaflet.awesome-markers.js"></script> -->

	<div id="mymap"></div>

	<div id="sidebar" class="sidebar collapsed">
		<div class="sidebar-tabs">
			<ul role="tablist">
				<li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
			</ul>
		</div>

		<div class="sidebar-content">
			<div class="sidebar-pane" id="home">
				<h1 class="sidebar-header">
					Kontroly
					<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
				</h1>

				<div class="checkbox">
					<label><input type="checkbox" name="touristicRoutes" data-test="TouristicRoutesTest" data-type="all">Turistické trasy</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="TouristicRoutesTest" data-type="bicycle">Cyklotrasy</label>
				</div>
				
				<h4>Chybějcí tag</h4>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="MissingTagTest" data-type="not_dest" >destinations:</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="MissingTagTest" data-type="not_network" >network:</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="MissingTagTest" data-type="not_complete">complete:</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="MissingTagTest" data-type="not_osmc">osmc:symbol:</label>
				</div>

				<h4>Chybná hodnota tagu</h4>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="WrongValueTagTest" data-type="network">network:</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="WrongValueTagTest" data-type="complete">complete:</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="WrongValueTagTest" data-type="osmc">osmc:symbol:</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="WrongValueTagTest" data-type="route">route:</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="WrongValueTagTest" data-type="kct">kct_*:</label>
				</div>

				<h4>Rozpory tagů</h4>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="ConflictTagTest" data-type="network_kct">hodnota network nekoresponduje s hodnotou kct_*:</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="ConflictTagTest" data-type="route_type">typ cesty v rozporu s ostatními u tagu osmc:symbol, kct_* nebo route:</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="ConflictTagTest" data-type="bicycle">hodnota network u cyklotrasy nekoresponduje s číslem v ref:</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="ConflictTagTest" data-type="route_color">barva cesty v rozporu u osmc:symbol a kct_*:</label>
				</div>


				<h4>Rozcestníky</h4>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="GuidepostsTest" data-type="ok">hotové</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="GuidepostsTest" data-type="without-photo">bez fotky</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="GuidepostsTest" data-type="without-ref">bez přiřazené značky ref</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" name="visibleLayers" data-test="GuidepostsTest" data-type="without-ref-photo">bez přiřazené značky ref a fotky</label>
				</div>						  
			</div>
		</div>
	</div>
</div>