<div class="container">
	<h1><?= $title; ?></h1>
	<?php if(count($relations)) : ?>
		<table class="table table-hover">
			<tr>
				<th>id</th><th>destinations</th><th>complete</th><th>osmc:symbol</th><th>kct_</th><th>network</th><th>route</th>
			</tr>
		<?php foreach($relations as $relation) : ?>
			<tr>
				<td><?= $relation['id']; ?></td>
				<?= (isset($relation['tags']['destinations'])) ? Out::printCell($relation['tags']['destinations']) : Out::printCell("&nbsp;"); ?>
				<?= (isset($relation['tags']['complete'])) ? Out::printCell($relation['tags']['complete']) : Out::printEmtpyCell(); ?>
				<?= (isset($relation['tags']['osmc:symbol'])) ? Out::printCell($relation['tags']['osmc:symbol']) : Out::printCell("&nbsp;"); ?>
				<?php $tmp = Osm::getKctTags($relation['tags']); ?>
				<?= (count($tmp)) ? Out::printCell(key($tmp).":".reset($tmp)) : Out::printCell("&nbsp;"); ?>
				<?= (isset($relation['tags']['network'])) ? Out::printCell($relation['tags']['network']) : Out::printCell("&nbsp;"); ?>
				<?= (isset($relation['tags']['route'])) ? Out::printCell($relation['tags']['route']) : Out::printCell("&nbsp;"); ?>
			</tr>
		<?php endforeach; ?>
		</table>
	<?php endif; ?>
</div>
