<div class="container">
	<h1>Statistika</h1>

	<?php if(count($graphs)) : ?>
		<div id="graphs" class="row">

			<div class="control text-center">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default">1Y
						<input type="radio" name="interval" data-interval="365">
					</label>
					<label class="btn btn-default">6M
						<input type="radio" name="interval" data-interval="180">
					</label>
					<label class="btn btn-default">3M
						<input type="radio" name="interval" data-interval="90">
					</label>
					<label class="btn btn-default active">1M
						<input type="radio" name="interval" checked data-interval="30">
					</label>
					<label class="btn btn-default">7D
						<input type="radio" name="interval" data-interval="7">
					</label>
				</div>
			</div>

			<?php foreach($graphs as $graph): ?>
				<div class="graph col-md-6" data-name="<?= $graph; ?>">
					<h2><?= $graph; ?></h2>
					<canvas id="graph-<?= $graph; ?>"  width="400" height="200"></canvas>
				</div>
			<?php endforeach; ?>
		</div>
	<?php endif; ?>
</div>

<script>
	var charts = {};
	function GetChart(graph){
		return charts[graph];
	}

	function AddChart(graph, chart){
		charts[graph] = chart;
	}

	function RemoveChart(graph){
		charts[graph] = null;
	}


	$(".control").on("change", function(){
		drawCharts();
	});
	drawCharts();

	function drawCharts(){	
		$(".graph").each(function(){
			var graph_name = $(this).data("name");
			drawChart(graph_name);
		});
	}

	function drawChart(chart){
		var interval = $('.control label.active input').data('interval');
		$.ajax({
			type: 'POST',
			url: './ajax/getDataGraph/',
			data: {
				ajax: '1',
				graphName: chart,
				interval: interval
			}
		}).done(function( json ) {
			json = $.parseJSON(json);
			var old_chart = GetChart(chart);
			if(old_chart){
				old_chart.clear();
			}

			
			var ctx = document.getElementById("graph-"+chart);
			var myChart = new Chart(ctx, {
				type: 'line',
				data: {		
					labels: json.labels,
					datasets: json.datasets

				},
				options: {
				   scales:{
						xAxes: [{
							display: true
						}],
                    	yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                max: json.maxYaxis
                            }
                        }]
					}
				}
			});
			AddChart(chart, myChart);
		});
	}

</script>