<div class="container">
	<h1>Výsledky testů</h1>

	<h2>Turistické trasy</h2>
	<table class="table">
		<tr>
			<td class="col-md-8"><a href="<?= PAGE; ?>tables/missing/all">Počet KČT turistických relací v databázi:</a></td>
			<td class="col-md-2"><?= $missing["all"]["count"]; ?></td>
			<td class="col-md-2"><?= $missing["all"]["percentage"]; ?> %</td>
		</tr>
	</table>

	<table class="table table-results">
		<tr>
			<td class="col-md-8 missing"><a href="<?= PAGE; ?>tables/missing/not_any_tags">Počet těchto relací, kde chybí některý z tagu:</a></td>
			<td class="col-md-2 missing"><?= $missing["not_any_tags"]["count"]; ?></td>
			<td class="col-md-2 missing"><?= $missing["not_any_tags"]["percentage"]; ?> %</td>
		</tr>
		<tr class="collapse table-in" id="table1">
			<td colspan="3">
				<table class="table table-hover">
					<tr>
						<td class="col-md-8"><a href="<?= PAGE; ?>tables/missing/not_dest">destinations:</a></td>
						<td class="col-md-2"><?= $missing["not_dest"]["count"]; ?></td>
						<td class="col-md-2"><?= $missing["not_dest"]["percentage"]; ?> %</td>
					</tr>

					<tr>
						<td><a href="<?= PAGE; ?>tables/missing/not_network">network:</a></td>
						<td><?= $missing["not_network"]["count"]; ?></td>
						<td><?= $missing["not_network"]["percentage"]; ?> %</td>
					</tr>

					<tr>
						<td><a href="<?= PAGE; ?>tables/missing/not_complete">complete:</a></td>
						<td><?= $missing["not_complete"]["count"]; ?></td>
						<td><?= $missing["not_complete"]["percentage"]; ?> %</td>
					</tr>

					<tr>
						<td><a href="<?= PAGE; ?>tables/missing/not_osmc">osmc:symbol:</a></td>
						<td><?= $missing["not_osmc"]["count"]; ?></td>
						<td><?= $missing["not_osmc"]["percentage"]; ?> %</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="3" class="missing text-center expand-results">
				<a href="#table1" data-toggle="collapse" class="switch">
					<i class="fa fa-angle-double-down" aria-hidden="true"></i>
				</a>
			</td>
		</tr>
	</table>

	<table class="table table-results">
		<tr>
			<td colspan="3" class="col-md-8 conflict">Počet těchto relací, kde se vyskutuje chybný tag nebo hodnota tagu:</td>
		</tr>
		<tr class="collapse table-in" id="table2">
			<td colspan="3">
				<table class="table table-hover">
					<tr>
						<td class="col-md-8"><a href="<?= PAGE; ?>tables/wrong/network">network:</a></td>
						<td class="col-md-2"><?= $wrong["network"]["count"]; ?></td>
						<td class="col-md-2"><?= $wrong["network"]["percentage"]; ?> %</td>
					</tr>

					<tr>
						<td><a href="<?= PAGE; ?>tables/wrong/complete">complete:</a></td>
						<td><?= $wrong["complete"]["count"]; ?></td>
						<td><?= $wrong["complete"]["percentage"]; ?> %</td>
					</tr>

					<tr>
						<td><a href="<?= PAGE; ?>tables/wrong/osmc">osmc:symbol:</a></td>
						<td><?= $wrong["osmc"]["count"]; ?></td>
						<td><?= $wrong["osmc"]["percentage"]; ?> %</td>
					</tr>

					<tr>
						<td><a href="<?= PAGE; ?>tables/wrong/route">route:</a></td>
						<td><?= $wrong["route"]["count"]; ?></td>
						<td><?= $wrong["route"]["percentage"]; ?> %</td>
					</tr>

					<tr>
						<td><a href="<?= PAGE; ?>tables/wrong/kct">kct_*:</a></td>
						<td><?= $wrong["kct"]["count"]; ?></td>
						<td><?= $wrong["kct"]["percentage"]; ?> %</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="3" class="conflict text-center expand-results">
				<a href="#table2" data-toggle="collapse" class="switch">
					<i class="fa fa-angle-double-down" aria-hidden="true"></i>
				</a>
			</td>
		</tr>
	</table>



	<table class="table table-results">
		<tr>
			<td colspan="3" class="conflict">Rozpory tagů:</td>
		</tr>
		<tr class="collapse table-in" id="table3">
			<td colspan="3">
				<table class="table table-hover">
					<tr>
						<td class="col-md-8"><a href="<?= PAGE; ?>tables/conflict/network_kct">hodnota network nekoresponduje s hodnotou kct_*:</a></td>
						<td class="col-md-2"><?= $conflict["network_kct"]["count"]; ?></td>
						<td class="col-md-2"><?= $conflict["network_kct"]["percentage"]; ?> %</td>
					</tr>

					<tr>
						<td><a href="<?= PAGE; ?>tables/conflict/route_type">typ cesty v rozporu s ostatními u tagu osmc:symbol, kct_* nebo route:</a></td>
						<td><?= $conflict["route_type"]["count"]; ?></td>
						<td><?= $conflict["route_type"]["percentage"]; ?> %</td>
					</tr>

					<tr>
						<td><a href="<?= PAGE; ?>tables/conflict/route_color">barva cesty v rozporu u osmc:symbol a kct_*:</a></td>
						<td><?= $conflict["route_color"]["count"]; ?></td>
						<td><?= $conflict["route_color"]["percentage"]; ?> %</td>
					</tr>

					<tr>
						<td><a href="<?= PAGE; ?>tables/conflict/bicycle">hodnota network u cyklotrasy nekoresponduje s číslem v ref:</a></td>
						<td><?= $conflict["bicycle"]["count"]; ?></td>
						<td><?= $conflict["bicycle"]["percentage"]; ?> %</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="3" class="conflict text-center expand-results">
				<a href="#table3" data-toggle="collapse" class="switch">
					<i class="fa fa-angle-double-down" aria-hidden="true"></i>
				</a>
			</td>
		</tr>
	</table>


	<h2>Rozcestníky</h2>

	<table class="table table-results">
		<tr>
			<td>Celkový počet rozcestníků v databázi:</td>
			<td>&nbsp;</td>
			<td><?= $guideposts["all"]["count"]; ?></td>
		</tr>
		<tr class="collapse table-in" id="table4">
			<td colspan="3">
				<table class="table table-hover">
					<tr>
						<td class="col-md-8"><a href="<?= PAGE; ?>guideposts/cached/ok">Hotové rozcestníky:</a></td>
						<td class="col-md-2"><?= $guideposts["ok"]["count"]; ?></td>
						<td class="col-md-2"><?= $guideposts["ok"]["percentage"]; ?> %</td>
					</tr>
					<tr>
						<td class="col-md-8"><a href="<?= PAGE; ?>guideposts/cached/without-photo">Rozcestník bez fotky:</a></td>
						<td class="col-md-2"><?= $guideposts["without-photo"]["count"]; ?></td>
						<td class="col-md-2"><?= $guideposts["without-photo"]["percentage"]; ?> %</td>
					</tr>
					<tr>
						<td class="col-md-8"><a href="<?= PAGE; ?>guideposts/cached/without-ref">Rozcestník bez přiřazeného čísla:</a></td>
						<td class="col-md-2"><?= $guideposts["without-ref"]["count"]; ?></td>
						<td class="col-md-2"><?= $guideposts["without-ref"]["percentage"]; ?> %</td>
					</tr>
					<tr>
						<td class="col-md-8"><a href="<?= PAGE; ?>guideposts/cached/without-ref-photo">Rozcestník bez přiřazeného čísla a fotky:</a></td>
						<td class="col-md-2"><?= $guideposts["without-ref-photo"]["count"]; ?></td>
						<td class="col-md-2"><?= $guideposts["without-ref-photo"]["percentage"]; ?> %</td>
					</tr>
					<tr>
						<td><a href="<?= PAGE.'guideposts/fetch'; ?>">Fetch</a></td>
						<td><a href="<?= PAGE.'guideposts/analyse'; ?>">Analyse</a></td>
						<td>
							Download: 
							<a href="<?= PAGE.'data/export/guideposts.gpx'; ?>">GPX</a>
							<a href="<?= PAGE.'data/export/guideposts.json'; ?>">JSON</a>
						</td>
					</tr>					
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="3" class="text-center expand-results">
				<a href="#table4" data-toggle="collapse" class="switch">
					<i class="fa fa-angle-double-down" aria-hidden="true"></i>
				</a>
			</td>
		</tr>
	</table>

</div>


<script>
	$('.switch').on('click', function(){
		if($(this).find('i').hasClass('fa-angle-double-down')) {
			$(this).find('i').removeClass('fa-angle-double-down');
			$(this).find('i').addClass('fa-angle-double-up');
		}
		else{
			$(this).find('i').removeClass('fa-angle-double-up');
			$(this).find('i').addClass('fa-angle-double-down');
		}
	});
</script>