html {position: relative; min-height: 100%;}
footer { position: absolute; bottom: 0; width: 100%; height: 30px; line-height: 30px;}
body {padding-top: 60px; margin-bottom: 30px;}


nav .logo img{max-height: 50px;margin: 5px 30px 5px 0;}
nav .nav a {line-height: 30px;}
h1 {text-align: center; padding-top: 20px;}




.missing {background: #FFA726;}
.conflict {background: #EF5350;}


/* GP */
.gp-ok {background: #b0ffa0;}
.gp-without-photo {}
.gp-without-ref {background: #ff5010;}
.gp-without-ref-photo {background: #ffa090;}



.table-results .table-in td{padding: 0px;}
.table-results .table-in td td{padding: 8px;}
.table-results table {margin-bottom: 0px;}
.expand-results a {font-size: 18px; font-weight: 600;}


#maps .sidebar{border-radius: 0px; top: 60px; bottom: 0px;}
#maps .sidebar-right {right: 0px;}
